@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* how you could style the toasts  */
/* there has to be a better way than slapping !importants tho */
/* :root{
  --toastify-color-info: #172554 !important;
} */



@layer components{
  .btn { 
    @apply m-2 border-4 rounded-lg p-3 border-primary-600  bg-white text-primary-600 hover:bg-primary-400 hover:text-white hover:border-primary-400;
  }

  .btn-follow{
    @apply bg-primary-600 text-white hover:bg-white hover:text-primary-600  hover:border-primary-600
  }

  .btn-alt {
    @apply m-1 border-2 rounded-sm p-2 border-primary-950  bg-transparent text-primary-950 hover:bg-gradient-to-r hover:from-primary-950 hover:to-primary-500 hover:text-white hover:border-transparent;
  }

  .url {
    @apply text-primary-400 hover:text-primary-950
  }

  .chart-wrapper{
    @apply border-2 rounded bg-white overflow-hidden shadow-md h-96 lg:h-[500px];
    
  }

  .dashboard-container{
    @apply p-2 m-2 overflow-hidden shadow-lg lg:w-[80%] lg:m-auto
  }
  
  .sidebar-element{
    @apply mx-4 p-1 border-b border-primary-400 hover:bg-gradient-to-r hover:from-primary-400 hover:to-primary-50 hover:text-white hover:border-transparent shadow-sm;
  }
  .search-bar{
    @apply p-2 border-2 border-primary-500 my-2 text-center w-5/6  focus:outline-none focus:border-primary-400 focus:text-lg focus:bg-primary-100
  }


  
  #logo-face{
    fill: tan;
  }

  #logo-hair, #logo-mustache{
    fill: #3b82f6;
  }
  
  .change-color path{
    animation: color-change .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 20ms);
    animation-iteration-count: 1;
  }

  .reverse-color path{
    fill: #ffa600;
    animation: reverse-color-change .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 20ms);
    animation-iteration-count: 1;
  }

  .change-color-gradient path{
    animation: color-change-gradient .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 20ms);
    animation-iteration-count: 1;
  }

  .reverse-color-gradient path{
    fill:#172554;
    animation: reverse-change-gradient .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 20ms);
    animation-iteration-count: 1;
  }

}



@keyframes color-change {
  0% { fill: #1c1e37; }
  100% { fill: #ffa600; }
}

@keyframes reverse-color-change{
  0%{ fill: #ffa600; }
  100% { fill: #1c1e37; }
}

@keyframes color-change-gradient{
  0%{fill: #3b82f6}
  33%{fill: #1d4ed8}
  66%{fill: #1e3a8a}
  100%{fill: #172554}
}
@keyframes reverse-change-gradient{
  100%{fill: #3b82f6}
  66%{fill: #1d4ed8}
  33%{fill: #1e3a8a}
  0%{fill: #172554}
}