@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@layer components{
  .btn { 
    @apply m-2 border-4 rounded-lg p-3 border-primary-600  bg-white text-primary-600 hover:bg-primary-400 hover:text-white hover:border-primary-400  ;

  }

  .btn-alt {
    @apply m-1 border-2 rounded-sm p-2 border-primary-950  bg-white text-primary-600 hover:bg-primary-950 hover:text-white hover:border-transparent;
  }

  .chart-wrapper{
    @apply border-2 rounded bg-white overflow-hidden shadow-md sm:h-[400px] lg:h-[500px];
    
    /* //h-[300px] */
  }

  .dashboard-container{
    @apply p-2 m-2 overflow-hidden shadow-lg lg:w-[80%] lg:m-auto
  }
  
  .sidebar-element{
    @apply mx-4 p-1 border-b-2 border-primary-300 hover:border-2  hover:bg-primary-200 shadow-sm;
  }
  .search-bar{
    @apply p-2 border-2 border-primary-500 my-2 text-center w-5/6  focus:outline-none focus:border-primary-400 focus:text-lg focus:bg-primary-100
  }

  .spinner-image{
    /* color: #1c1e37; */
    
    /* animation: color-change 4s infinite;
    transition-timing-function: ease-in-out ; */
  }

  
  #logo-face{
    fill: tan;
  }
  /* #logo-hair path:nth-of-type(2){ */
  #logo-hair, #logo-mustache{
    fill: #1c1e37;
  }
  /* #logo-hair path {
    animation: color-change .5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 200ms);
    animation-iteration-count: 1;
  } */
  .change-color path{
    animation: color-change .25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 50ms);
    animation-iteration-count: 1;
  }
  .reverse-color path{
    fill: #ffa600;
    animation: reverse-color-change .25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 50ms);
    animation-iteration-count: 1;
  }

  
}

@keyframes color-change {
  0% { fill: #1c1e37; }
  100% { fill: #ffa600; }
}

@keyframes reverse-color-change{
  0%{ fill: #ffa600; }
  100% { fill: #1c1e37; }
}
